<%- include('partials/header')  %> 
    <h2>Delete a Book</h2>
      <form action="" method=''>
        <button id="delete" action=""> Delete </button>

      </form>

<%-include('partials/footer')  %> 