<%- include('partials/header')  %> 
    <h2>Delete a Book</h2>
      <form action="" method=''>
        <div class="card">

        <button id="delete" action=""> Delete </button>
        </div>
        
      </form>

<%-include('partials/footer')  %> 