.container {
    position: relative;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    
}


.background-img {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    z-index: 1; 
}

.center{
    position: absolute; /* Keep the text absolutely positioned */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center text */
    color: white;
    font-size: 54px;
    text-align: center; /* Center text alignment */
    z-index: 2;
}