<nav class="navbar navbar-expand-lg bg-light" >
	<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand nav-link disabled" href="#">Ev Charging</a>
			<a class="navbar-brand nav-link " href="/">Home </a>
			<div class=" openBtn navbar-nav me-auto mb-2 mb-lg-0"></div>
			<form action="/logout">
				<button type="submit" class="openButton me-2">Logout</button>
			</form>
				<button class="openButton me-2" onclick="openForm()">Login</button>
				<a  href="/register"><button href="/register" class="openButton me-2">Register</button></a>
</nav>



<!--Login Form -->
<div class="loginPopup" id="modal">
	<div class="formPopup" id="popupForm">
		<form action="/login" method="post" class="formContainer">
			<h2>Log in</h2>
			<label for="username">
				<strong>Username</strong>
			</label>
			<input type="text" id="username" placeholder="Your Username" name="username" required>
			<label for="psw">
				<strong>Password</strong>
			</label>
			<input type="password" id="psw" placeholder="Your Password" name="password" required>
			<button type="submit" class="btn">Log in</button>
			<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		</form>
		<div class="overlay"></div>
	</div>
</div>

